body {
    family: sans-serif; 
    color:green;
}    
p {color: #444444;}

h1, h2 {
    family: sans-serif;
    color:grey;
}

h1{border-bottom: 1px solid black;}

em {font-family: serif;}

.greentea{color:green;}
.razztea{color:blue;}
.bluetea{color:purple;}
.crantea{color:maroon;}

#elixirs{
border: solid thin #007e7e;
    
line-height:1em;
    
width:200px;
    
padding: 0px 20px 30px 10px;
 
margin: 0px 20px 30px 10px;
      
text-align: center;
    
background: url(images/cocktail.gif) repeat-x top left;
    
}


#elixers a:link{
    color: #007e7e;
}
#elixers a:visted{
    color: #333333;
}
#elixers a:hover{
    background: #f88396;
    color: #0d5353;
}

#elixirs h2 {
color: black; 
}

 #elixirs h3{
     color: #d12c47;
}

.cd{ 
    font-style:italic;
}
.artist{ 
    font-weight:bold;
}




footer {
text-align: center;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: #9900cc;
}
