body {
  font-size: small;
  font-family: Times, "Times New Roman", serif;
  line-height:1.6em;
}
#guarantee {
 line-height:1.9em; 
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444444;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  border-side: dashed;
  border-color:white;
}
p#footer
{
  color: red; 
}
@media screen and (min-device-width: 481px) { 
 #guarantee {
  margin-right: 250px;
      }
}
@media screen and (max-device-width: 480px) { 
  #guarantee {
    margin-right: 30px;
  }
}
@media print { 
  body {
    font-family: Times, "Times New Roman", serif; 
  }
}
p.specials{
color:red;
}
h1, h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h1{border-bottom: 1px solid black;}

em {font-family: serif;}

.greentea{color:green;}
.razztea{color:blue;}
.bluetea{color:purple;}
.crantea{color:maroon;}

#elixirs{
border: solid thin #007e7e;
    
line-height:1em;
    
width:200px;
    
padding: 0px 20px 30px 10px;
 
margin: 0px 20px 30px 10px;
      
text-align: center;
    
background: url(images/cocktail.gif) repeat-x;
background-position: top left;
    
}


#elixers a:link{
    color: #007e7e;
}
#elixers a:visted{
    color: #333333;
}
#elixers a:hover{
    background: #f88396;
    color: #0d5353;
}

#elixirs h2 {
color: black; 
}

 #elixirs h3{
     color: #d12c47;
}

.cd{ 
    font-style:italic;
}
.artist{ 
    font-weight:bold;
}



footer {
text-align: center;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: #9900cc;
}
