body {
font-family:Verdana, Geneva, Arial, sans-serif; 
font-size:small;
}

h1{
    color:#660387;
    text-align: center;
    font-size:300%;
}
table
{
    color:#0a0a0a;
    background-color:#cccccc;
    font-family:Verdana, Geneva, Arial, sans-serif;
    font-size:250%;
}
footer {
text-align: center;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: #9900cc;
}
