body {
  font-size: small;
  line-height:1.6em;
  
  background: url(images/dragon.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
}

p{
  -webkit-text-stroke: 1px black; /* width and color */
  font-family: sans; color: white;
  font-size: 25px;
}
