body {
  line-height:1.6em;
  
  background: url(images/dragon.jpeg);
  background-repeat: no-repeat;
  background-size: 1440px 790px;
}

p{
  -webkit-text-stroke: 0.5px black;
  font-family: sans; color: white;
  font-size: 25px;
}
h1{
  font-family: sans; color: white;
  font-size: 50px;
}
h2{
  font-family: sans; color:white;
  font-size:50px;
}
footer {
text-align: center;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: #9900cc;
}
